.app-header {
  background-color: #d6f4f1; /* Darken the background color slightly */
  color: #171717;
  padding: 15px; /* Increased padding for better spacing */
  text-align: center;
  display: flex;
  align-items: center; /* Vertically center content */
  justify-content: space-between;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
  margin: 0;
}

.app-header h1 {
  margin: 0;
  font-size: 1.5em; /* Adjust the font size for better prominence */
}

.navigation-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.navigation-item {
  margin-right: 20px; /* Slightly increased margin between navigation items */
}

/* Style for navigation links */
.navigation-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease; /* Add smooth color transition on hover */
}

.navigation-link:hover {
  color: #ffcc00; /* Change color on hover */
}
